.primary_btn {
    padding: 10px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    align-items: center;
    gap: 8px;
    display: flex;
    font-size: 14px;
    justify-content: center;
    cursor: pointer;
}

.primary_btn:hover {
    background-color: white;
    color: black;
}

.outline_btn {
    padding: 10px 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 5px;
    align-items: center;
    gap: 8px;
    display: flex;
    font-size: 14px;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.outline_btn:hover {
    background-color: black;
    color: white;
}